.uploaderForm{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid #959595
}
/* .uploaderForm input[type="file"]::file-selector-button{
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
} */
.uploaderForm [type='file'] { font-size: 0; }
.uploaderForm [type='file']::file-selector-button { 
    font-size: initial; 
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}
.uploaderForm input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
.uploaderForm input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}
.uploaderForm [type='submit'] { 
    font-size: initial; 
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}